<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ry.erp.sys.mapper.RoleMapper">
    <!--根据角色id 查询菜单 及权限-->
   <select id="queryRolePermissionIdsByRid" resultType="java.lang.Integer">
       select pid from sys_role_permission where rid=#{value}
   </select>
    <!-- 保存角色和菜单之间关系-->
    <insert id="saveRolePermission">
        insert into sys_role_permission(rid,pid) values(#{rid},#{pid})
    </insert>

    <!-- /根据角色id 删除sys_role_permission -->
    <delete id="deleteRolePermissionByRid">
        delete from sys_role_permission where rid=#{value}
    </delete>

    <!-- 根据角色id 删除sys_role_user-->
    <delete id="deleteRoleUserByRid">
        delete from sys_role_user where rid=#{value}
    </delete>

</mapper>
